@import url('https://fonts.googleapis.com/css2?family=Big+Shoulders+Display:wght@800&display=swap');

.viz-title {
  font-variation-settings: 'wght' 850;
  font-size: 30px;
  color: rgb(98, 98, 98);
  font-family: 'Big Shoulders Display';
}

.container {
  margin: 1rem 0;
  background-color: #f7f7f7;
  margin-right: auto;
  width: 95%;
  padding: 10px;
  border-radius: 10px;
}
  
  .grid {
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-start;
  }
  
  .grid > div {
    width: 45%; 
    margin-bottom: 20px; 
  }

  .data-info {
    margin-top: 0.5rem;
    font-size: 0.9rem;
    color: rgb(137, 137, 137);
  }

  .data-info:hover {
    color: rgb(99, 162, 198);
    cursor: pointer;
    text-decoration: underline;
  }
  
  
  @media screen and (max-width: 700px) {
    .grid > div {
      width: 90%;
    }
  }
  