.viz-title {
  font-variation-settings: 'wght' 850;
  font-size: 30px;
  color: rgb(98, 98, 98);
}

.container {
  margin: 1rem 0;
  background-color: #f8f9fa;
  margin-right: auto;
  width: 95%;
  padding: 10px;
}
  
  .grid {
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-start;
  }
  
  .grid > div {
    width: 45%; 
    margin-bottom: 20px; 
  }

  .data-info {
    margin-top: 1rem;
    font-size: 1rem;
    color: rgb(98, 98, 98);
  }

  .data-info:hover {
    color: rgb(84, 177, 232);
    cursor: pointer;
    text-decoration: underline;
  }
  
  
  @media screen and (max-width: 700px) {
    .grid > div {
      width: 90%;
    }
  }
  