.dataviz {
    background-color: #f8f8f8;
    border-radius: 8px;
    padding: 16px;
  }
  
  .dataviz h2 {
    font-size: 22px;
    margin-bottom: 8px;
  }
  
  .dataviz p {
    font-size: 14px;
    color: #666;
    margin-bottom: 16px;
  }
  
  .dataviz .visualization {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    min-height: 400px;
    background-color: #fff;
    border: 1px solid #ccc;
    border-radius: 4px;
    overflow-y: auto;
    max-height: 400px;
    padding-top: 10px; /* Ajoutez cette ligne */
  }
  
  
  .infoBox {
    background-color: #f7f7f7;
    border-radius: 8px;
    padding: 16px;
    width: 45%;
    box-shadow: 2px 2px 6px rgba(0, 0, 0, 0.1);
  }
  
  .infoTitle {
    font-weight: bold;
    font-size: 18px;
    margin-bottom: 8px;
    font-family: 'Roboto', sans-serif;
  }
  
  .infoValue {
    font-size: 30px;
    font-weight: bold;
    font-family: 'Roboto', sans-serif;
  }
  
  .titleBox {
    background-color: rgb(255, 255, 255);
    border-radius: 5px;
    padding: 5px;
    margin-bottom: 10px;
    font-family: 'Big Shoulders Display', cursive;
    letter-spacing: 0em;
  }
  