@import url('https://fonts.googleapis.com/css2?family=Big+Shoulders+Display:wght@400;800&display=swap');

.container {
    margin: 0 0%;
}

.header {
    display: flex;
    background-color: #f8f9fa;
    justify-content: space-between;
    align-items: center;
    border-bottom: 8px solid #252d80;
    padding: 20px 0;
    margin-bottom: 0rem;
    font-family: 'Big Shoulders Display', sans-serif;
    font-weight: 800;
}

.header-logo-container {
    display: flex;
    align-items: center;
    font-size: 2rem;
    font-weight: 800;
}

.header-logo {
    margin-right: 0px;
    height: 40px;
    width: auto;
}

.header-link {
    font-size: 2rem;
    font-weight: 800;
    text-decoration: none;
}

.header-link-hovered {
    text-decoration: underline;
}
