.title {
  text-align: center;
  color: #333;
  font-size: 3rem;
  margin-top: 2rem;
}

.loading {
  text-align: center;
  font-size: 1.25rem;
  color: #999;
  margin-top: 2rem;
}

.grid {
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-start; 
}

.grid > div {
  width: 45%; 
  margin-bottom: 20px; 
}


@media screen and (max-width: 600px) {
  .grid > div {
    width: 100%;
  }
}
