.title {
  text-align: center;
  color: #333;
  font-size: 3rem;
  margin-top: 2rem;
}

.subtitle {
  color: #000000;
  font-size: 40px;
  font-weight: 800;
  margin-top: 2rem;
  font-family: 'Big Shoulders Display';
}

.loading {
  text-align: center;
  font-size: 1.25rem;
  color: #999;
  margin-top: 2rem;
}

.grid {
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-start; 
}

.grid > div {
  width: 45%; 
  margin-bottom: 20px; 
}

.dataInfoBox {
  margin-top: 5px;
  margin-bottom: 20px;
  width: fit-content;
  padding: 10px;
  background-color: #ffffff; 
  border-radius: 5px;
  color: #717171;
  font-size: 16px;
  text-align: center;
  box-shadow: 1px 1px 4px rgb(228, 228, 228); 
}

.dataInfoBox a {
  color: #252d80; 
  text-decoration: underline;
  margin-left: 5px;
  cursor: pointer;
  transition: color 0.1s ease; 
}

.dataInfoBox a:hover {
  color: #99e5f5; 
}


@media screen and (max-width: 600px) {
  .grid > div {
    width: 100%;
  }
}
